# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/

# =====================================================
# Virtual Environment
# =====================================================

.venv/
venv/
env/

# =====================================================
# Environment Variables
# =====================================================

.env

# =====================================================
# VS Code
# =====================================================

.vscode/

# =====================================================
# macOS
# =====================================================

.DS_Store

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Pytest
# =====================================================

.pytest_cache/

# =====================================================
# Coverage
# =====================================================

.coverage
htmlcov/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Uploaded Files
# =====================================================

backend/storage/uploads/*

!backend/storage/uploads/.gitkeep

# =====================================================
# FAISS Vector Database
# =====================================================

backend/storage/vector_db/*

!backend/storage/vector_db/.gitkeep

# =====================================================
# SQLite Database
# =====================================================

*.db

# =====================================================
# Python Type Checking
# =====================================================

.mypy_cache/

# =====================================================
# Ruff
# =====================================================

.ruff_cache/

# =====================================================
# Temporary Files
# =====================================================

*.tmp
*.temp